@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@400;500;600;700&family=Patua+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body {
  background-image: linear-gradient(to top, #f43a5f, #f44164, #f3486a, #f34f6f, #f25574, #f15675, #ef5676, #ee5777, #eb5274, #e94d72, #e6486f, #e3436d);
  height: 100vh;
  
}
header {
  padding: 1em 20em;
}
.life {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.life-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.life-container h1 {
  font-size: .9rem;
  color: springgreen;
}
.leaderboard {
  letter-spacing: 0;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  transition: .2s ease-in-out;
}
.leaderboard:hover {
  background-color: #851C32;

}
main {
  padding: 0 20em;
}
.qmark {
  width: 100px;
}
.scoreDisplay {
  display: none;
}

.choices {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1.3em;
}
.choices button {
  padding: 8px 12px;
  border-radius: 3px;
  border: none;
  margin: 1em;
  background-color: #F1668B;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.generation {
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  height: 50px;
  background-color: #F1668B;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.generation:active,
.choices button:active {
  background-color: #821633;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 2em 0;

}
.container {
  margin: 2em;

}
.container div {
  display: flex;
  justify-content: center;
}
.scoreAndImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.score {
  margin-top: 0.5em;
  font-size: 5rem;
  font-weight: 700;
  position: absolute;  
  left: 20%;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 0.4em 0;
}


.firstLife,
.secondLife,
.thirdLife {
  transition: .3s ease-in-out;
}
.firstLife.fadeOut,
.secondLife.fadeOut,
.thirdLife.fadeOut {
  animation: fadeOutY 1s ease-in-out;
}
@keyframes fadeOutY {
  from {
    transform: translateY(0) rotate(360deg);
    opacity: 1;
  }
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}

.gameOverModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 200px;
  z-index: 9999;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  background-color: #37050F;
  color: #fff;

}
.gameOverModal h1 {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1rem;
}
.gameOverModal #tryAgain {
  width: 50%;
}
.gameOverModal div {
  height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
#tryAgain {
  height: 30px;
  border: 1px solid #C7415C;
  margin-top: 1em;
  background-color: transparent;
  color: springgreen;
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: 600;

}
#tryAgain:hover {
  border: 1px solid #fff;
  background-color: #C7415C;
  color: #fff;
}
#tryAgain:active {
  border: 1px solid #fff;
  color: #fff;

}
.modalScore {
  margin-top: 0.5em;
  font-size: 1.2rem;
}

.pokemon-logo {
  width: 450px;
  z-index: 1;
  position: fixed;
  top: 15%;
  display: none;


}
.pokemon-logo.spin {
  animation: spinAndRoll .3s ease-in-out;
  display: block;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spinAndRoll {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: translateX(0);
  }
}
